@model ElizabethLibrary.Models.AuthorViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Books of Author";
}

<div class="page-header">
<h4>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
</div>
<br />
<table class="table table-striped table-hover ">
    <thead> 
        <tr>
            <td>Title</td>
            <td>ISBN</td>
            <td>Book Details</td>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Book", new { id = item.BookId }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<p>
    @Html.ActionLink("Back to List of Authors", "Authors")
</p>
