@model IEnumerable<ElizabethLibrary.Models.BookViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Books";
}
<div class="page-header">
    <h2>Books</h2>
</div>
    <br />
    <table class="table table-striped table-hover ">
        <thead>
            <tr class="h3">
                <td>Title</td>
                <td>ISBN</td>
                <td>Author Name</td>
                <td>Book information</td>
            </tr> 
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FirstName)
                        @Html.DisplayFor(modelItem => item.Author.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("Author", "Details", new { id = item.BookId })
                    </td>
                </tr>
            }
        </tbody>
</table>
<p>
    @Html.ActionLink("Back to List of Book", "Books")
</p>




