@model ElizabethLibrary.Models.BookViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Book Details";
}
<div class="page-header">
    <h2>Book Details</h2>
</div>
<br />
    <div class="panel panel-default">

        <div class="panel-heading">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="panel-body">
            @Html.DisplayFor(model => model.Author.FirstName)
            @Html.DisplayFor(model => model.Author.LastName)
        </div>
        <div class="panel-footer">
            @Html.ActionLink("Author", "Details", "Author", new { id = Model.Author.AuthorId }, null)
        </div>
    </div>
    <br />
    <p>
        @Html.ActionLink("Back to List of Book", "Books")
    </p>
